<div class="container">
  <div *ngIf="loadingData" class="px-4 pt-5 my-5 text-center">
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <main *ngIf="!loadingData">
    <div class="py-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="../assets/MboaSpeak.png"
        alt=""
        width="72"
        height="72"
      />
      <h2>Créez votre compte</h2>

      <p class="lead">Join our platform and start your learning journey.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">What will your role be?</span>
        </h4>
        <ul class="list-group mb-3">
          <li
            class="list-group-item d-flex justify-content-between lh-sm"
            [ngClass]="{ selected: this.role === 1 }"
          >
            <div>
              <h6 class="my-0">Be a contributor</h6>
              <small>I wish to contribute</small>
            </div>
          </li>
        </ul>

        <p class="mb-1">Already have an account?</p>
        <a
          style="cursor: pointe"
          class="text-primary"
          (click)="routerService.routeRoute('/auth/sign-in')"
          >sign in</a
        >
      </div>

      <div class="col-md-7 col-lg-8" *ngIf="this.role == 1">
        <h4 class="mb-3">Contributor</h4>
        <form
          class="needs-validation"
          [formGroup]="formForm"
          (ngSubmit)="ngOnSubmit()"
          novalidate
        >
          <div class="row g-3">
            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  formControlName="username"
                  placeholder="Username"
                  required
                />
                <div class="invalid-feedback">Your username is required.</div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email </label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="you@example.com"
              />
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="password" class="form-label">password </label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
                placeholder=""
              />
              <div class="invalid-feedback">
                Please enter a valid password address for shipping updates.
              </div>
            </div>

            <p>Primary language</p>
            <div class="chec">
              <select
                class="form-select"
                formControlName="primary_language"
                aria-label="Default select example"
              >
                <option *ngFor="let language of languages" [value]="language">
                  {{ language }}
                </option>
              </select>
            </div>
          </div>

          <hr class="my-4" />

          <button
            class="w-100 btn btn-primary btn-lg"
            [disabled]="formForm.invalid"
            type="submit"
          >
            Create account
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
