<div class="content">
  <div class="content2" *ngIf="active == 1 && !loading">
    <h2>All admin and linguist</h2>
    <button class="btn btn-primary" (click)="loadView(2)">Grant access</button>

    <hr />
    <h3>Admins</h3>
    <div class="row">
      <div
        class="col-lg-3 col-sm-6"
        *ngFor="let user of admin"
        (click)="editRole(user.username, user.user_type)"
      >
        <div class="widget-panel widget-style-2 bg-primary">
          <h2 class="m-0 counter">{{ user.username }}</h2>
          <div>{{ user.user_type }}</div>
        </div>
      </div>
    </div>

    <hr />
    <h3>Linguists</h3>
    <div class="row">
      <div
        class="col-lg-3 col-sm-6"
        *ngFor="let user of linguist"
        (click)="editRole(user.username, user.user_type)"
      >
        <div class="widget-panel widget-style-2 bg-primary">
          <h2 class="m-0 counter">{{ user.username }}</h2>
          <div>{{ user.user_type }}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="px-4 pt-5 my-5 text-center">
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="active == 2 && !loading">
    <h2>Grand access</h2>
    <form class="parent" [formGroup]="formForm" (ngSubmit)="ngOnSubmit()">
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="username"
          class="form-control"
          id="floatingInput"
          placeholder=""
        />
        <label for="floatingInput">username</label>
      </div>

      <br />

      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
          formControlName="user_type"
        >
          <option *ngFor="let type of user_types" [value]="type">
            {{ type }}
          </option>
        </select>
        <label for="floatingSelect">Select user type:</label>
      </div>

      <br />
      <br />
      <button
        class="w-100 btn btn-primary btn-lg"
        [disabled]="formForm.invalid"
        type="submit"
      >
        Grant access
      </button>
    </form>
  </div>
</div>
