<div class="content">
  <div *ngIf="active == 1 && !loading">
    <h2>All course added</h2>
    <button class="btn btn-primary" (click)="loadView(2)">Add course</button>
    <hr />

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">title</th>
          <th scope="col">content</th>
          <th scope="col">video url</th>
          <th scope="col">language</th>
          <th scope="col">edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.title }}</td>
          <td>{{ course.content }}</td>
          <td>{{ course.video_url }}</td>
          <td>{{ course.language }}</td>

          <td>
            <button (click)="edit(course.id)" class="btn btn-primary">
              edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loading" class="px-4 pt-5 my-5 text-center">
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="active == 2 && !loading">
    <h2>Add course</h2>

    <!---->
    <div class="lesson-form">
      <!-- Formulaire pour les détails de la leçon -->
      <form class="parent" [formGroup]="lessonForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="lesson_title"
            formControlName="title"
            placeholder="Enter lesson title"
          />
          <label for="lesson_title">Lesson Title:</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="lesson_video_url"
            formControlName="video_url"
            placeholder="Enter video URL"
          />
          <label for="lesson_video_url">YouTube Video URL:</label>
        </div>

        <div class="form-floating">
          <select
            class="form-select"
            id="lesson_language"
            aria-label="Floating label select example"
            formControlName="language"
          >
            <option *ngFor="let language of languages" [value]="language">
              {{ language }}
            </option>
          </select>
          <label for="lesson_language">Select expression language:</label>
        </div>

        <br />
        <div class="form-floating">
          <textarea
            class="form-control"
            formControlName="content"
            placeholder="Enter lesson content"
            id="lesson_content"
            style="height: 100px"
          ></textarea>
          <label id="lesson_content">Content:</label>
        </div>

        <br />

        <!-- Quiz et questions -->
        <div formGroupName="quiz">
          <h3>Quiz</h3>
          <br />

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="quiz_title"
              formControlName="title"
              placeholder="Enter Quiz Title"
            />
            <label for="quiz_title">Quiz Title:</label>
          </div>
          <br />
          <div formArrayName="questions">
            <h4>Questions</h4>

            <div
              *ngFor="let question of questions.controls; let i = index"
              [formGroupName]="i"
              class="question-block"
            >
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="question_text_{{ i }}"
                  formControlName="text"
                  placeholder="Enter question text"
                />
                <label for="question_text_{{ i }}">Question {{ i + 1 }}:</label>
              </div>
              <br />

              <!-- Choix pour chaque question -->
              <div formArrayName="choices">
                <h4>Choices</h4>

                <div
                  class="form-floating mb-3"
                  *ngFor="
                    let choice of getChoices(question).controls;
                    let j = index
                  "
                  [formGroupName]="j"
                >
                  <input
                    type="text"
                    class="form-control"
                    id="choice_text_{{ i }}_{{ j }}"
                    formControlName="text"
                    placeholder="Enter choice text"
                  />
                  <label for="choice_text_{{ i }}_{{ j }}"
                    >Choice {{ j + 1 }}:</label
                  >

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      formControlName="is_correct"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Correct
                    </label>
                  </div>
                </div>
                <a
                  type="button "
                  class="btn btn-success"
                  (click)="addChoice(i)"
                >
                  Add Choice
                </a>
              </div>
              <br />
              <a
                type="button "
                class="btn btn-danger"
                (click)="removeQuestion(i)"
              >
                Remove Question
              </a>
              <br />
            </div>
            <br />
            <a type="button " class="btn btn-success" (click)="addQuestion()">
              Add Question
            </a>
          </div>
        </div>
        <br />

        <!-- Bouton de soumission -->
        <button
          [disabled]="lessonForm.invalid"
          type="submit"
          class="btn btn-primary"
        >
          Save Lesson
        </button>
      </form>
    </div>

    <!---->
  </div>

  <div *ngIf="active == 3 && !loading">
    <h2>Edit course</h2>

    <div class="lesson-form">
      <!-- Formulaire pour les détails de la leçon -->
      <form class="parent" [formGroup]="lessonForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="lesson_title"
            formControlName="title"
            placeholder="Enter lesson title"
          />
          <label for="lesson_title">Lesson Title:</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="lesson_video_url"
            formControlName="video_url"
            placeholder="Enter video URL"
          />
          <label for="lesson_video_url">YouTube Video URL:</label>
        </div>

        <div class="form-floating">
          <select
            class="form-select"
            id="lesson_language"
            aria-label="Floating label select example"
            formControlName="language"
          >
            <option *ngFor="let language of languages" [value]="language">
              {{ language }}
            </option>
          </select>
          <label for="lesson_language">Select expression language:</label>
        </div>

        <br />
        <div class="form-floating">
          <textarea
            class="form-control"
            formControlName="content"
            placeholder="Enter lesson content"
            id="lesson_content"
            style="height: 100px"
          ></textarea>
          <label id="lesson_content">Content:</label>
        </div>

        <br />

        <!-- Quiz et questions -->
        <div formGroupName="quiz">
          <h3>Quiz</h3>
          <br />

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="quiz_title"
              formControlName="title"
              placeholder="Enter Quiz Title"
            />
            <label for="quiz_title">Quiz Title:</label>
          </div>
          <br />
          <div formArrayName="questions">
            <h4>Questions</h4>

            <div
              *ngFor="let question of questions.controls; let i = index"
              [formGroupName]="i"
              class="question-block"
            >
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="question_text_{{ i }}"
                  formControlName="text"
                  placeholder="Enter question text"
                />
                <label for="question_text_{{ i }}">Question {{ i + 1 }}:</label>
              </div>
              <br />

              <!-- Choix pour chaque question -->
              <div formArrayName="choices">
                <h4>Choices</h4>

                <div
                  class="form-floating mb-3"
                  *ngFor="
                    let choice of getChoices(question).controls;
                    let j = index
                  "
                  [formGroupName]="j"
                >
                  <input
                    type="text"
                    class="form-control"
                    id="choice_text_{{ i }}_{{ j }}"
                    formControlName="text"
                    placeholder="Enter choice text"
                  />
                  <label for="choice_text_{{ i }}_{{ j }}"
                    >Choice {{ j + 1 }}:</label
                  >

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      formControlName="is_correct"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Correct
                    </label>
                  </div>
                </div>
                <button
                  type="button "
                  class="btn btn-success"
                  (click)="addChoice(i)"
                >
                  Add Choice
                </button>
              </div>
              <br />
              <button
                type="button "
                class="btn btn-danger"
                (click)="removeQuestion(i)"
              >
                Remove Question
              </button>
              <br />
            </div>
            <br />
            <button
              type="button "
              class="btn btn-success"
              (click)="addQuestion()"
            >
              Add Question
            </button>
          </div>
        </div>
        <br />

        <!-- Bouton de soumission -->
        <button
          [disabled]="lessonForm.invalid"
          type="submit"
          class="btn btn-primary"
        >
          Save Lesson
        </button>
      </form>
    </div>
  </div>
</div>
