<main class="d-flex flex-nowrap">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
    style="width: 280px; height: 100%"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-4">MboaSpeak dashboard</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          [ngClass]="{ active: active == 1 }"
          (click)="changeActive(1)"
        >
          <i class="bi bi-speedometer"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a
          class="nav-link text-white"
          [ngClass]="{ active: active == 2 }"
          (click)="changeActive(2)"
        >
          <i class="bi bi-calendar-check"></i>
          Word
        </a>
      </li>

      <li>
        <a
          class="nav-link text-white"
          [ngClass]="{ active: active == 3 }"
          (click)="changeActive(3)"
        >
          <i class="bi bi-layers-half"></i>
          Expresssion
        </a>
      </li>
      <li>
        <a
          class="nav-link text-white"
          [ngClass]="{ active: active == 4 }"
          (click)="changeActive(4)"
        >
          <i class="bi bi-card-checklist"></i>
          Profile
        </a>
      </li>
      <li>
        <a
          class="nav-link text-white"
          [ngClass]="{ active: active == 6 }"
          (click)="changeActive(6)"
        >
          <i class="bi bi-card-checklist"></i>
          Post
        </a>
      </li>
      <li>
        <a
          *ngIf="user_type == 'admin'"
          class="nav-link text-white"
          [ngClass]="{ active: active == 7 }"
          (click)="changeActive(7)"
        >
          <i class="bi bi-card-checklist"></i>
          course
        </a>
      </li>
      <li>
        <a
          *ngIf="user_type == 'admin'"
          class="nav-link text-white"
          [ngClass]="{ active: active == 5 }"
          (click)="changeActive(5)"
        >
          <i class="bi bi-card-checklist"></i>
          Admin
        </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="../../../assets/MboaSpeak.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>me</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
      </ul>
    </div>
  </div>
  <app-stat
    *ngIf="active == 1"
    class="stat d-flex"
    style="width: 100%"
  ></app-stat>

  <div class="content overflow-auto" *ngIf="active == 2">
    <app-word class="session" style="width: 100%"></app-word>
  </div>

  <div class="content overflow-auto" *ngIf="active == 3">
    <app-expression class="session" style="width: 100%"></app-expression>
  </div>

  <div class="content overflow-auto" *ngIf="active == 4">
    <app-profile class="session" style="width: 100%"></app-profile>
  </div>

  <div class="content overflow-auto" *ngIf="active == 6">
    <app-post class="session" style="width: 100%"></app-post>
  </div>

  <div
    class="content overflow-auto"
    *ngIf="active == 7 && user_type == 'admin'"
  >
    <app-learning class="session" style="width: 100%"></app-learning>
  </div>

  <div
    class="content overflow-auto"
    *ngIf="active == 5 && user_type == 'admin'"
  >
    <app-admin class="session" style="width: 100%"></app-admin>
  </div>
</main>
