.search-result .title h3 {
    margin: 0 0 15px;
    color: #333;
}

.search-result .title p {
    font-size: 16px;
    color: #333;
}


.well {
    border: 0;
    padding: 20px;
    min-height: 63px;
    background: #f3f2f2;
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    border-bottom: 2px solid #ccc;
    transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;

    a {
        text-decoration: none;
    }
}

.well:hover {
    background: #f0efef;
    cursor: pointer;
}

.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
}

body {
    margin-top: 20px;
    background: #eee;
    color: #708090;
}

.icon-1x {
    font-size: 24px !important;
}

a {
    text-decoration: none;
}


a.text-primary:focus,
a.text-primary:hover {
    color: #00ADBB !important;
}

.text-black,
.text-hover-black:hover {
    color: #000 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.social-feed-separated .social-avatar {
    float: left;
    padding: 0;
}

.social-feed-separated .social-avatar img {
    width: 52px;
    height: 52px;
    border: 1px solid #e7eaec;
}

.social-feed-separated .social-feed-box .social-avatar {
    padding: 15px 15px 0 15px;
    float: none;
}

.social-feed-box {
    /*padding: 15px;*/
    border: 1px solid #e7eaec;
    background: #fff;
    margin-bottom: 15px;
}

.article .social-feed-box {
    margin-bottom: 0;
    border-bottom: none;
}

.article .social-feed-box:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid #e7eaec;
}

.article .social-feed-box p {
    font-size: 13px;
    line-height: 18px;
}

.social-action {
    margin: 15px;
}

.social-avatar {
    padding: 15px 15px 0 15px;
}

.social-comment .social-comment {
    margin-left: 45px;
}

.social-avatar img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.social-avatar .media-body a {
    font-size: 14px;
    display: block;
}

.social-body {
    padding: 15px;
}

.social-body img {
    margin-bottom: 10px;
}

.social-footer {
    border-top: 1px solid #e7eaec;
    padding: 10px 15px;
    background: #f9f9f9;
}

.social-footer .social-comment img {
    width: 32px;
    margin-right: 10px;
}

.social-comment:first-child {
    margin-top: 0;
}

.social-comment {
    margin-top: 15px;
}

.social-comment textarea {
    font-size: 12px;
}


.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}


.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}