<div class="content">
  <div *ngIf="active == 1 && !loading">
    <h2>All post added</h2>
    <button class="btn btn-primary" (click)="loadView(2)">Add post</button>
    <hr />

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">title</th>
          <th scope="col">content</th>
          <th scope="col">created_at</th>
          <th scope="col">vote</th>
          <th scope="col">edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.title }}</td>
          <td>{{ post.content }}</td>
          <td>{{ post.created_at }}</td>
          <td>{{ post.votes }}</td>
          <td>
            <button (click)="edit(post.id)" class="btn btn-primary">
              edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loading" class="px-4 pt-5 my-5 text-center">
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="active == 2 && !loading">
    <h2>Add post</h2>
    <form class="parent" [formGroup]="formForm" (ngSubmit)="ngOnSubmit()">
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="title"
          class="form-control"
          id="floatingInput"
          placeholder=""
        />
        <label for="floatingInput">title</label>
      </div>

      <br />

      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
          formControlName="language"
        >
          <option *ngFor="let language of languages" [value]="language">
            {{ language }}
          </option>
        </select>
        <label for="floatingSelect">Select post language:</label>
      </div>

      <br />

      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          formControlName="content"
          placeholder="Content"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>
        <label for="floatingTextarea2">Content</label>
      </div>

      <br />
      <button
        class="w-100 btn btn-primary btn-lg"
        [disabled]="formForm.invalid"
        type="submit"
      >
        Add post
      </button>
    </form>
  </div>

  <div *ngIf="active == 3 && !loading">
    <h2>Edit post</h2>
    <form class="parent" [formGroup]="formForm" (ngSubmit)="ngOnSubmitEdit()">
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="title"
          class="form-control"
          id="floatingInput"
          placeholder=""
        />
        <label for="floatingInput">title</label>
      </div>

      <br />

      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
          formControlName="language"
        >
          <option *ngFor="let language of languages" [value]="language">
            {{ language }}
          </option>
        </select>
        <label for="floatingSelect">Select post language:</label>
      </div>

      <br />

      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          formControlName="content"
          placeholder="Content"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>
        <label for="floatingTextarea2">Content</label>
      </div>

      <br />

      <br />
      <button
        class="w-100 btn btn-primary btn-lg"
        [disabled]="formForm.invalid"
        type="submit"
      >
        Edit post
      </button>
    </form>
  </div>
</div>
