<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a
        href="/"
        class="d-flex align-items-center text-body-emphasis text-decoration-none"
      >
        <img
          class="mb-4"
          src="../assets/MboaSpeak.png"
          alt=""
          width="50"
          height="50"
        />
        <span class="fs-4">MboaSpeak</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="../assets/illustration1.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            {{ "start.part1.title" | translate }}
          </h1>
          <p class="lead">
            {{ "start.part1.text" | translate }}
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button
              (click)="onJoin()"
              class="btn btn-outline-secondary"
              type="button"
            >
              {{ "start.part1.button" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">
        {{ "start.part2.title" | translate }}
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          {{ "start.part2.text" | translate }}
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <button
            (click)="onJoin()"
            type="button"
            class="btn btn-outline-secondary btn-lg px-4 me-sm-3"
          >
            {{ "start.part2.button1" | translate }}
          </button>
          <button
            (click)="start()"
            type="button"
            class="btn btn-outline-secondary btn-lg px-4"
          >
            {{ "start.part2.button2" | translate }}
          </button>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh">
        <div class="container px-5">
          <img
            src="../assets/illustration2.jpg"
            class="img-fluid border rounded-3 shadow-lg mb-4"
            alt="Example image"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>{{ "start.part3.right.title" | translate }}</h2>
          <ul class="list-unstyled">
            <li>
              <strong>{{ "start.part3.right.strong1" | translate }}</strong>
              {{ "start.part3.right.text1" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.right.strong2" | translate }}</strong>
              {{ "start.part3.right.text2" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.right.strong3" | translate }}</strong>
              {{ "start.part3.right.text3" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.right.strong4" | translate }}</strong>
              {{ "start.part3.right.text4" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.right.strong5" | translate }}</strong
              >{{ "start.part3.right.text5" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.right.strong6" | translate }}</strong>
              {{ "start.part3.right.text5" | translate }}
            </li>
          </ul>
          <button (click)="start()" class="btn btn-outline-light" type="button">
            {{ "start.part3.right.button" | translate }}
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>{{ "start.part3.left.title" | translate }}</h2>
          <ul class="list-unstyled">
            <li>
              <strong>{{ "start.part3.left.strong1" | translate }}</strong
              >{{ "start.part3.left.text1" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.left.strong2" | translate }}</strong
              >{{ "start.part3.left.text2" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.left.strong3" | translate }}</strong
              >{{ "start.part3.left.text3" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.left.strong4" | translate }}</strong
              >{{ "start.part3.left.text4" | translate }}
            </li>
            <li>
              <strong>{{ "start.part3.left.strong5" | translate }}</strong
              >{{ "start.part3.left.text5" | translate }}
            </li>
          </ul>
          <button
            (click)="start()"
            class="btn btn-outline-secondary"
            type="button"
          >
            {{ "start.part3.left.button" | translate }}
          </button>
        </div>
      </div>
    </div>
    <br />
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          {{ "start.part4.title" | translate }}
        </h1>
        <p class="lead">
          {{ "start.part4.text" | translate }}
        </p>

        <button
          (click)="routerService.routeRoute('/auth/sign-up')"
          class="btn btn-outline-secondary mr-5"
          style="margin: 10px"
          type="button"
        >
          {{ "start.part4.button1" | translate }}
        </button>

        <button
          (click)="start()"
          class="btn btn-outline-secondary"
          type="button"
        >
          {{ "start.part4.button2" | translate }}
        </button>
      </div>
    </div>
  </div>
</main>
